.mainContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.sliderContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.overlayContent {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

.fadeInText {
  opacity: 0;
  animation: fadeIn 2s forwards; /* Fade in effect */
}

.delay {
  animation-delay: 1s; /* Delay the second text */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
